openapi: 3.2.0
info:
  title: Kata.ai Platform Public NLU API
  description: Public REST API for the Kata Platform (Kata.ai). Manage bot projects, bots and drafts, deployments, environments, messaging channels, teams, and Natural Language Understanding (NLU) models used to build Indonesian conversational AI assistants. Reconstructed from the published Kata Platform documentation (kata-ai/kata-platform-docs); this is an API Evangelist derived specification, not a Kata.ai-published OpenAPI file.
  version: 1.0.0
  contact:
    name: Kata.ai
    email: business@kata.ai
    url: https://docs.kata.ai/kata-platform
  x-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/kata-ai/kata-platform-docs/blob/master/docs/api/kataai-public-api.md
servers:
- url: https://api.kata.ai
  description: Kata Platform public API (default zaunUrl in kata-cli)
security:
- bearerAuth: []
tags:
- name: NLU
  description: Natural Language Understanding models.
paths:
  /projects/{projectId}/nlus:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - NLU
      operationId: listNlus
      summary: List NLUs
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
      - name: page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paged NLUs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NluList'
  /projects/{projectId}/nlus/{nluName}:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - name: nluName
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - NLU
      operationId: getNlu
      summary: Get an NLU
      responses:
        '200':
          description: NLU
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NluSummary'
    put:
      tags:
      - NLU
      operationId: updateNlu
      summary: Update an NLU
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NLU'
      responses:
        '200':
          description: Updated NLU
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NluSummary'
components:
  schemas:
    NluList:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/NluSummary'
    NLU:
      type: object
      required:
      - name
      - lang
      - visibility
      properties:
        name:
          type: string
        lang:
          type: string
          enum:
          - id
          - en
        visibility:
          type: string
          enum:
          - public
          - private
        entities:
          type: object
          additionalProperties: true
    NluSummary:
      type: object
      properties:
        name:
          type: string
        lang:
          type: string
        visibility:
          type: string
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token in the Authorization header (Authorization: Bearer <token>). The token may alternatively be supplied as a ?token= query string parameter.'
