openapi: 3.2.0
info:
  title: Kata.ai Platform Public Auth API
  description: Public REST API for the Kata Platform (Kata.ai). Manage bot projects, bots and drafts, deployments, environments, messaging channels, teams, and Natural Language Understanding (NLU) models used to build Indonesian conversational AI assistants. Reconstructed from the published Kata Platform documentation (kata-ai/kata-platform-docs); this is an API Evangelist derived specification, not a Kata.ai-published OpenAPI file.
  version: 1.0.0
  contact:
    name: Kata.ai
    email: business@kata.ai
    url: https://docs.kata.ai/kata-platform
  x-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/kata-ai/kata-platform-docs/blob/master/docs/api/kataai-public-api.md
servers:
- url: https://api.kata.ai
  description: Kata Platform public API (default zaunUrl in kata-cli)
security:
- bearerAuth: []
tags:
- name: Auth
  description: Login and token issuance.
paths:
  /login:
    post:
      tags:
      - Auth
      operationId: login
      summary: Login and obtain a bearer token
      description: Authenticate with username and password to receive a bearer token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    BadRequest:
      description: Wrong API usage. Please refer to the documentation!
      content:
        application/json:
          schema:
            type: string
    ServerError:
      description: Server is not available at the moment. We are working on it.
      content:
        application/json:
          schema:
            type: string
    Forbidden:
      description: You're not authorized to view this page.
      content:
        application/json:
          schema:
            type: string
    TooManyRequests:
      description: Ratelimit exceeded! 100 per minute
      content:
        application/json:
          schema:
            type: string
  schemas:
    Token:
      type: object
      properties:
        id:
          type: string
          description: Bearer token
        type:
          type: string
        label:
          type: string
        userId:
          type: string
        teamId:
          type: string
        botId:
          type: string
        roleId:
          type: string
        expire:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token in the Authorization header (Authorization: Bearer <token>). The token may alternatively be supplied as a ?token= query string parameter.'
