openapi: 3.2.0
info:
  title: Kata.ai Platform Public Deployments API
  description: Public REST API for the Kata Platform (Kata.ai). Manage bot projects, bots and drafts, deployments, environments, messaging channels, teams, and Natural Language Understanding (NLU) models used to build Indonesian conversational AI assistants. Reconstructed from the published Kata Platform documentation (kata-ai/kata-platform-docs); this is an API Evangelist derived specification, not a Kata.ai-published OpenAPI file.
  version: 1.0.0
  contact:
    name: Kata.ai
    email: business@kata.ai
    url: https://docs.kata.ai/kata-platform
  x-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/kata-ai/kata-platform-docs/blob/master/docs/api/kataai-public-api.md
servers:
- url: https://api.kata.ai
  description: Kata Platform public API (default zaunUrl in kata-cli)
security:
- bearerAuth: []
tags:
- name: Deployments
  description: Deployment versions of a project bot.
paths:
  /projects/{projectId}/deployment/versions:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    post:
      tags:
      - Deployments
      operationId: createDeploymentVersion
      summary: Create a new deployment version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
      responses:
        '200':
          description: Deployment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{projectId}/deployment/:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - Deployments
      operationId: getLatestDeployment
      summary: Get the latest deployment version
      responses:
        '200':
          description: Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
  /projects/{projectId}/deployment/versions/:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - Deployments
      operationId: listDeploymentVersions
      summary: List deployment versions
      responses:
        '200':
          description: Deployment versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
  /projects/{projectId}/deployment/versions/{version}:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - name: version
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Deployments
      operationId: getDeploymentVersion
      summary: Get a deployment version
      responses:
        '200':
          description: Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    put:
      tags:
      - Deployments
      operationId: updateDeploymentVersion
      summary: Update a deployment version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
      responses:
        '200':
          description: Updated deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    delete:
      tags:
      - Deployments
      operationId: deleteDeploymentVersion
      summary: Delete a deployment version
      responses:
        '200':
          description: Deleted deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
components:
  schemas:
    Deployment:
      type: object
      required:
      - version
      - botRevision
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        botRevision:
          type: string
        nluRevision:
          type: string
        cmsRevision:
          type: string
        modules:
          type: 'null'
  responses:
    Forbidden:
      description: You're not authorized to view this page.
      content:
        application/json:
          schema:
            type: string
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token in the Authorization header (Authorization: Bearer <token>). The token may alternatively be supplied as a ?token= query string parameter.'
