openapi: 3.2.0
info:
  title: Kata.ai Platform Public Bots API
  description: Public REST API for the Kata Platform (Kata.ai). Manage bot projects, bots and drafts, deployments, environments, messaging channels, teams, and Natural Language Understanding (NLU) models used to build Indonesian conversational AI assistants. Reconstructed from the published Kata Platform documentation (kata-ai/kata-platform-docs); this is an API Evangelist derived specification, not a Kata.ai-published OpenAPI file.
  version: 1.0.0
  contact:
    name: Kata.ai
    email: business@kata.ai
    url: https://docs.kata.ai/kata-platform
  x-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/kata-ai/kata-platform-docs/blob/master/docs/api/kataai-public-api.md
servers:
- url: https://api.kata.ai
  description: Kata Platform public API (default zaunUrl in kata-cli)
security:
- bearerAuth: []
tags:
- name: Bots
  description: Bot revisions and drafts.
paths:
  /projects/{projectId}/bot/:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - Bots
      operationId: getBot
      summary: Get the project bot
      responses:
        '200':
          description: Bot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bot'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{projectId}/bot/revisions/:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    post:
      tags:
      - Bots
      operationId: createBotRevision
      summary: Update bot (create a new bot revision)
      description: Updating a bot is done by creating a new bot revision. Rejected if the version already exists.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bot'
      responses:
        '200':
          description: New bot revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{projectId}/bot/draft:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - Bots
      operationId: getBotDraft
      summary: Get bot draft
      responses:
        '200':
          description: Bot draft
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
      - Bots
      operationId: updateBotDraft
      summary: Create or update bot draft
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Draft id
          content:
            application/json:
              schema:
                type: object
                properties:
                  draftId:
                    type: string
    delete:
      tags:
      - Bots
      operationId: deleteBotDraft
      summary: Delete bot draft
      responses:
        '200':
          description: Draft id
          content:
            application/json:
              schema:
                type: object
                properties:
                  draftId:
                    type: string
components:
  responses:
    BadRequest:
      description: Wrong API usage. Please refer to the documentation!
      content:
        application/json:
          schema:
            type: string
    Forbidden:
      description: You're not authorized to view this page.
      content:
        application/json:
          schema:
            type: string
  schemas:
    Bot:
      type: object
      required:
      - id
      - name
      - version
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        desc:
          type: string
        lang:
          type: string
        timezone:
          type: integer
        flows:
          type: object
          additionalProperties: true
        nlus:
          type: object
          additionalProperties: true
        methods:
          type: object
          additionalProperties: true
        config:
          type: object
          additionalProperties: true
        revision:
          type: string
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token in the Authorization header (Authorization: Bearer <token>). The token may alternatively be supplied as a ?token= query string parameter.'
