openapi: 3.0.3
info:
  title: Kata.ai NL Prediction Auth Deployments API
  description: The Kata.ai Natural Language (NL) Prediction API exposes a trained Natural Language Understanding model built in NL Studio so it can be called from any application. Given an input sentence it returns detected entities (trait, dict, phrase) with scores, spans, resolved values, and entity relationships. Reconstructed from the published Kata Platform documentation (kata-ai/kata-platform-docs, nl-studio/nl-prediction-api); an API Evangelist derived specification, not a Kata.ai-published OpenAPI.
  version: 1.0.0
  contact:
    name: Kata.ai
    email: business@kata.ai
    url: https://docs.kata.ai/nl-studio/nl-prediction-api
  x-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/kata-ai/kata-platform-docs/blob/master/docs/nl-studio/nl-prediction-api.md
servers:
- url: https://geist.kata.ai
  description: Kata.ai NL Prediction API host
security:
- bearerAuth: []
tags:
- name: Deployments
  description: Deployment versions of a project bot.
paths:
  /projects/{projectId}/deployment/versions:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    post:
      tags:
      - Deployments
      operationId: createDeploymentVersion
      summary: Create a new deployment version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
      responses:
        '200':
          description: Deployment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{projectId}/deployment/:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - Deployments
      operationId: getLatestDeployment
      summary: Get the latest deployment version
      responses:
        '200':
          description: Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
  /projects/{projectId}/deployment/versions/:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - Deployments
      operationId: listDeploymentVersions
      summary: List deployment versions
      responses:
        '200':
          description: Deployment versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
  /projects/{projectId}/deployment/versions/{version}:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - name: version
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Deployments
      operationId: getDeploymentVersion
      summary: Get a deployment version
      responses:
        '200':
          description: Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    put:
      tags:
      - Deployments
      operationId: updateDeploymentVersion
      summary: Update a deployment version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
      responses:
        '200':
          description: Updated deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    delete:
      tags:
      - Deployments
      operationId: deleteDeploymentVersion
      summary: Delete a deployment version
      responses:
        '200':
          description: Deleted deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
components:
  responses:
    Forbidden:
      description: You're not authorized to view this page.
      content:
        application/json:
          schema:
            type: string
  schemas:
    Deployment:
      type: object
      required:
      - version
      - botRevision
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        botRevision:
          type: string
        nluRevision:
          type: string
        cmsRevision:
          type: string
        modules:
          type: 'null'
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token from NL Studio Settings (Authorization: Bearer <token>).'
