openapi: 3.2.0
info:
  title: Kata.ai Platform Public Channels API
  description: Public REST API for the Kata Platform (Kata.ai). Manage bot projects, bots and drafts, deployments, environments, messaging channels, teams, and Natural Language Understanding (NLU) models used to build Indonesian conversational AI assistants. Reconstructed from the published Kata Platform documentation (kata-ai/kata-platform-docs); this is an API Evangelist derived specification, not a Kata.ai-published OpenAPI file.
  version: 1.0.0
  contact:
    name: Kata.ai
    email: business@kata.ai
    url: https://docs.kata.ai/kata-platform
  x-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/kata-ai/kata-platform-docs/blob/master/docs/api/kataai-public-api.md
servers:
- url: https://api.kata.ai
  description: Kata Platform public API (default zaunUrl in kata-cli)
security:
- bearerAuth: []
tags:
- name: Channels
  description: Messaging channels (LINE, Telegram, WhatsApp, etc.).
paths:
  /projects/{projectId}/environments/{environmentId}/channels:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - $ref: '#/components/parameters/EnvironmentId'
    get:
      tags:
      - Channels
      operationId: listChannels
      summary: List channels
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
      - name: page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paged channels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelList'
    post:
      tags:
      - Channels
      operationId: createChannel
      summary: Create a channel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
  /projects/{projectId}/environments/{environmentId}/channels/{channelId}:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - $ref: '#/components/parameters/EnvironmentId'
    - name: channelId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Channels
      operationId: getChannel
      summary: Get a channel
      responses:
        '200':
          description: Channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
    put:
      tags:
      - Channels
      operationId: updateChannel
      summary: Update a channel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          description: Updated channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
    delete:
      tags:
      - Channels
      operationId: deleteChannel
      summary: Delete a channel
      responses:
        '200':
          description: Deleted channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
components:
  schemas:
    Channel:
      type: object
      required:
      - name
      - type
      - url
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - generic
          - line
          - fbmessenger
          - telegram
          - twitter
          - slack
          - spark
          - bbm
          - qiscus
          - whatsapp
        url:
          type: string
        rpmLimit:
          type: integer
        agentId:
          type: string
        webhook:
          type: string
        options:
          type: object
          additionalProperties: true
    ChannelList:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
    EnvironmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token in the Authorization header (Authorization: Bearer <token>). The token may alternatively be supplied as a ?token= query string parameter.'
